__pycache__/
MedSAM/
data/vess-map/png_images/
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_80pct_20012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_28012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_13012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_75.0pct_21012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_5.0pct_21012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_95.0pct_31012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_95.0pct_29012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_95.0pct_14012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_50.0pct_20012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_80pct_28012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_75.0pct_21012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_75.0pct_30012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_80.0pct_21012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_08012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_75.0pct_14012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_95.0pct_21012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_95.0pct_14012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_80.0pct_21012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_5.0pct_28012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_80.0pct_21012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_28012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_50.0pct_20012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_80.0pct_14012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_20012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_50.0pct_28012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_50.0pct_14012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_5.0pct_20012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_80pct_20012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_25.0pct_30012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_08012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_75.0pct_20012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_75.0pct_30012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_13012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_5.0pct_30012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_25.0pct_30012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_80.0pct_29012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_25.0pct_20012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_75.0pct_29012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_50.0pct_30012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_75.0pct_29012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_5.0pct_28012025_best.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.001_bs2_both_5.0pct_13012025_latest.pth
experiments/med-sam/models/medsam_vit_b_adam_lr0.01_bs2_both_95.0pct_21012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs5_both_5.0pct_13012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs95_both_95.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs75_both_75.0pct_13012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs25_both_25.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs5_both_5.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.01_bs4_both_80.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs80_both_08012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs80_both_08012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs75_both_75.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs95_both_95.0pct_13012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs50_both_50.0pct_13012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs25_both_25.0pct_13012025_best.pth
experiments/u-net/models/unet_resnet50_adam_lr0.001_bs50_both_50.0pct_13012025_latest.pth
experiments/u-net/models/unet_resnet50_adam_lr0.01_bs4_both_80.0pct_13012025_best.pth
experiments/conv-probe/dice-conv-probe/conv-probe-layers-results/resnet18_layers_iou_results.json
MedSAM/work_dir/MedSAM/medsam_text_prompt_flare22.pth
MedSAM/work_dir/MedSAM/medsam_point_prompt_flare22.pth
MedSAM/work_dir/MedSAM/medsam_vit_b.pth
MedSAM/work_dir/MedSAM/drive-download-20241128T120835Z-001.zip
umamba/
U-Mamba/
MedSAM/
data/vess-map-umamba
data/torch-trainer
envs/
torchtrainer/
/experiments/torch-trainer/medsam_runs
/experiments/torch-trainer/umamba_runs
/experiments/torch-trainer/unet_runs
experiments/u-mamba/models
experiments/metrics_overview
experiments/torch-trainer/example_commandline